.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.886000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.772000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-7.844693px;}
.ls5{letter-spacing:-6.480398px;}
.lsf{letter-spacing:-2.174341px;}
.ls10{letter-spacing:-1.854585px;}
.lsc{letter-spacing:-1.605533px;}
.ls3{letter-spacing:-0.767414px;}
.ls1{letter-spacing:-0.511610px;}
.ls9{letter-spacing:-0.426342px;}
.lsd{letter-spacing:-0.395885px;}
.ls6{letter-spacing:-0.191854px;}
.ls2{letter-spacing:-0.127902px;}
.ls7{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.284228px;}
.ls12{letter-spacing:0.312651px;}
.ls13{letter-spacing:0.341074px;}
.ls11{letter-spacing:0.397919px;}
.ls15{letter-spacing:0.426342px;}
.ls0{letter-spacing:0.454765px;}
.ls14{letter-spacing:0.568456px;}
.lsa{letter-spacing:0.653724px;}
.ls16{letter-spacing:0.824261px;}
.lse{letter-spacing:0.852684px;}
.lsb{letter-spacing:3.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsb{word-spacing:-3.408000px;}
.wsd{word-spacing:-0.852684px;}
.ws15{word-spacing:-0.824261px;}
.wsa{word-spacing:-0.653724px;}
.ws13{word-spacing:-0.568456px;}
.ws0{word-spacing:-0.454765px;}
.ws14{word-spacing:-0.426342px;}
.ws10{word-spacing:-0.397919px;}
.ws12{word-spacing:-0.341074px;}
.ws11{word-spacing:-0.312651px;}
.ws8{word-spacing:-0.284228px;}
.ws7{word-spacing:0.000000px;}
.ws2{word-spacing:0.127902px;}
.ws6{word-spacing:0.191854px;}
.ws9{word-spacing:0.426342px;}
.ws1{word-spacing:0.511610px;}
.ws3{word-spacing:0.767414px;}
.wsc{word-spacing:1.605533px;}
.wsf{word-spacing:1.854585px;}
.wse{word-spacing:2.174341px;}
.ws5{word-spacing:6.480398px;}
.ws4{word-spacing:7.844693px;}
._8{margin-left:-7.258461px;}
._7{margin-left:-3.779516px;}
._4{margin-left:-2.679555px;}
._0{margin-left:-1.637151px;}
._1{width:1.240653px;}
._3{width:3.125089px;}
._2{width:6.361023px;}
._5{width:132.401472px;}
._6{width:2699.670413px;}
._9{width:3928.941612px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(35,31,32);}
.fs4{font-size:21.993600px;}
.fs5{font-size:27.112800px;}
.fs0{font-size:28.422800px;}
.fs1{font-size:63.951200px;}
.fs3{font-size:68.160000px;}
.fs2{font-size:170.536800px;}
.y0{bottom:0.000000px;}
.y2c{bottom:17.236000px;}
.y5b{bottom:17.456277px;}
.y27{bottom:22.792000px;}
.y29{bottom:24.486300px;}
.y2a{bottom:26.043415px;}
.y28{bottom:32.625000px;}
.y2b{bottom:32.868000px;}
.y2f{bottom:40.272512px;}
.y31{bottom:41.599500px;}
.y25{bottom:50.099975px;}
.y1{bottom:50.103600px;}
.y26{bottom:50.320252px;}
.y5c{bottom:50.323877px;}
.y2e{bottom:56.596056px;}
.y30{bottom:57.923044px;}
.y2d{bottom:72.919600px;}
.y4a{bottom:97.403482px;}
.y55{bottom:97.417693px;}
.y49{bottom:105.560826px;}
.y54{bottom:105.575037px;}
.y53{bottom:113.732381px;}
.y48{bottom:121.875513px;}
.y52{bottom:121.889724px;}
.y47{bottom:130.032856px;}
.y51{bottom:130.047068px;}
.y46{bottom:138.190200px;}
.y50{bottom:138.204411px;}
.y4f{bottom:154.519099px;}
.y5a{bottom:154.533310px;}
.y4e{bottom:162.676442px;}
.y59{bottom:162.690654px;}
.y4d{bottom:170.833786px;}
.y58{bottom:170.847997px;}
.y4c{bottom:178.991129px;}
.y57{bottom:179.005341px;}
.y4b{bottom:187.148473px;}
.y56{bottom:187.162684px;}
.y21{bottom:260.663005px;}
.y20{bottom:276.986549px;}
.y1f{bottom:293.310093px;}
.y1e{bottom:309.633637px;}
.y1d{bottom:325.957180px;}
.y45{bottom:342.042237px;}
.y1c{bottom:342.280724px;}
.y44{bottom:358.365781px;}
.y1b{bottom:358.604268px;}
.y43{bottom:374.689325px;}
.y1a{bottom:374.927812px;}
.y42{bottom:391.012869px;}
.y19{bottom:391.251356px;}
.y41{bottom:407.336413px;}
.y18{bottom:407.574899px;}
.y40{bottom:423.659956px;}
.y17{bottom:423.898443px;}
.y3f{bottom:439.983500px;}
.y16{bottom:440.221987px;}
.y3e{bottom:456.307044px;}
.y15{bottom:456.545531px;}
.y3d{bottom:472.630588px;}
.y3c{bottom:488.954132px;}
.y14{bottom:489.176631px;}
.y13{bottom:505.500174px;}
.y3b{bottom:521.585231px;}
.y12{bottom:521.823718px;}
.y3a{bottom:537.908775px;}
.y24{bottom:538.051335px;}
.y11{bottom:538.147262px;}
.y4{bottom:538.194112px;}
.y39{bottom:554.232319px;}
.y23{bottom:554.374879px;}
.y10{bottom:554.470806px;}
.y3{bottom:554.517656px;}
.y38{bottom:570.555863px;}
.y22{bottom:570.698423px;}
.yf{bottom:570.794350px;}
.y2{bottom:570.841200px;}
.y37{bottom:586.879407px;}
.ye{bottom:587.117893px;}
.y36{bottom:603.202950px;}
.yd{bottom:603.441437px;}
.y35{bottom:619.526494px;}
.yc{bottom:619.764981px;}
.y34{bottom:635.850038px;}
.yb{bottom:636.088525px;}
.y6{bottom:644.263971px;}
.y33{bottom:652.173582px;}
.ya{bottom:652.412069px;}
.y32{bottom:668.497126px;}
.y9{bottom:668.735612px;}
.y8{bottom:685.059156px;}
.y5{bottom:685.064900px;}
.y7{bottom:701.382700px;}
.h6{height:16.011942px;}
.h7{height:19.765337px;}
.h2{height:24.841527px;}
.ha{height:44.765840px;}
.h5{height:49.622344px;}
.h3{height:55.893349px;}
.h4{height:121.933812px;}
.h9{height:704.974000px;}
.h8{height:718.000000px;}
.h1{height:738.000000px;}
.h0{height:739.843000px;}
.w2{width:553.909000px;}
.w0{width:1106.930000px;}
.w1{width:1107.000000px;}
.x0{left:0.000000px;}
.x2{left:20.142100px;}
.x9{left:57.898400px;}
.x1{left:148.127100px;}
.x11{left:182.553800px;}
.x10{left:206.160452px;}
.xb{left:222.284200px;}
.xf{left:233.355700px;}
.xa{left:313.099100px;}
.x15{left:371.355400px;}
.xd{left:404.361800px;}
.x13{left:456.640900px;}
.x14{left:525.125637px;}
.x12{left:553.020000px;}
.xe{left:578.719200px;}
.x5{left:583.233600px;}
.x4{left:625.873462px;}
.x3{left:796.447300px;}
.x8{left:924.371151px;}
.xc{left:964.821385px;}
.x6{left:1009.660868px;}
.x7{left:1078.543524px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-10.459590pt;}
.ls5{letter-spacing:-8.640531pt;}
.lsf{letter-spacing:-2.899121pt;}
.ls10{letter-spacing:-2.472780pt;}
.lsc{letter-spacing:-2.140710pt;}
.ls3{letter-spacing:-1.023219pt;}
.ls1{letter-spacing:-0.682146pt;}
.ls9{letter-spacing:-0.568456pt;}
.lsd{letter-spacing:-0.527846pt;}
.ls6{letter-spacing:-0.255805pt;}
.ls2{letter-spacing:-0.170537pt;}
.ls7{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.378971pt;}
.ls12{letter-spacing:0.416868pt;}
.ls13{letter-spacing:0.454765pt;}
.ls11{letter-spacing:0.530559pt;}
.ls15{letter-spacing:0.568456pt;}
.ls0{letter-spacing:0.606353pt;}
.ls14{letter-spacing:0.757941pt;}
.lsa{letter-spacing:0.871633pt;}
.ls16{letter-spacing:1.099015pt;}
.lse{letter-spacing:1.136912pt;}
.lsb{letter-spacing:4.544000pt;}
.wsb{word-spacing:-4.544000pt;}
.wsd{word-spacing:-1.136912pt;}
.ws15{word-spacing:-1.099015pt;}
.wsa{word-spacing:-0.871633pt;}
.ws13{word-spacing:-0.757941pt;}
.ws0{word-spacing:-0.606353pt;}
.ws14{word-spacing:-0.568456pt;}
.ws10{word-spacing:-0.530559pt;}
.ws12{word-spacing:-0.454765pt;}
.ws11{word-spacing:-0.416868pt;}
.ws8{word-spacing:-0.378971pt;}
.ws7{word-spacing:0.000000pt;}
.ws2{word-spacing:0.170537pt;}
.ws6{word-spacing:0.255805pt;}
.ws9{word-spacing:0.568456pt;}
.ws1{word-spacing:0.682146pt;}
.ws3{word-spacing:1.023219pt;}
.wsc{word-spacing:2.140710pt;}
.wsf{word-spacing:2.472780pt;}
.wse{word-spacing:2.899121pt;}
.ws5{word-spacing:8.640531pt;}
.ws4{word-spacing:10.459590pt;}
._8{margin-left:-9.677948pt;}
._7{margin-left:-5.039355pt;}
._4{margin-left:-3.572740pt;}
._0{margin-left:-2.182868pt;}
._1{width:1.654204pt;}
._3{width:4.166785pt;}
._2{width:8.481364pt;}
._5{width:176.535296pt;}
._6{width:3599.560550pt;}
._9{width:5238.588817pt;}
.fs4{font-size:29.324800pt;}
.fs5{font-size:36.150400pt;}
.fs0{font-size:37.897067pt;}
.fs1{font-size:85.268267pt;}
.fs3{font-size:90.880000pt;}
.fs2{font-size:227.382400pt;}
.y0{bottom:0.000000pt;}
.y2c{bottom:22.981333pt;}
.y5b{bottom:23.275036pt;}
.y27{bottom:30.389333pt;}
.y29{bottom:32.648400pt;}
.y2a{bottom:34.724554pt;}
.y28{bottom:43.500000pt;}
.y2b{bottom:43.824000pt;}
.y2f{bottom:53.696683pt;}
.y31{bottom:55.466000pt;}
.y25{bottom:66.799967pt;}
.y1{bottom:66.804800pt;}
.y26{bottom:67.093670pt;}
.y5c{bottom:67.098502pt;}
.y2e{bottom:75.461408pt;}
.y30{bottom:77.230725pt;}
.y2d{bottom:97.226133pt;}
.y4a{bottom:129.871309pt;}
.y55{bottom:129.890258pt;}
.y49{bottom:140.747767pt;}
.y54{bottom:140.766716pt;}
.y53{bottom:151.643174pt;}
.y48{bottom:162.500684pt;}
.y52{bottom:162.519632pt;}
.y47{bottom:173.377142pt;}
.y51{bottom:173.396090pt;}
.y46{bottom:184.253600pt;}
.y50{bottom:184.272549pt;}
.y4f{bottom:206.025465pt;}
.y5a{bottom:206.044413pt;}
.y4e{bottom:216.901923pt;}
.y59{bottom:216.920871pt;}
.y4d{bottom:227.778381pt;}
.y58{bottom:227.797330pt;}
.y4c{bottom:238.654839pt;}
.y57{bottom:238.673788pt;}
.y4b{bottom:249.531297pt;}
.y56{bottom:249.550246pt;}
.y21{bottom:347.550674pt;}
.y20{bottom:369.315399pt;}
.y1f{bottom:391.080124pt;}
.y1e{bottom:412.844849pt;}
.y1d{bottom:434.609574pt;}
.y45{bottom:456.056317pt;}
.y1c{bottom:456.374299pt;}
.y44{bottom:477.821042pt;}
.y1b{bottom:478.139024pt;}
.y43{bottom:499.585767pt;}
.y1a{bottom:499.903749pt;}
.y42{bottom:521.350492pt;}
.y19{bottom:521.668474pt;}
.y41{bottom:543.115217pt;}
.y18{bottom:543.433199pt;}
.y40{bottom:564.879942pt;}
.y17{bottom:565.197924pt;}
.y3f{bottom:586.644667pt;}
.y16{bottom:586.962649pt;}
.y3e{bottom:608.409392pt;}
.y15{bottom:608.727374pt;}
.y3d{bottom:630.174117pt;}
.y3c{bottom:651.938842pt;}
.y14{bottom:652.235507pt;}
.y13{bottom:674.000233pt;}
.y3b{bottom:695.446975pt;}
.y12{bottom:695.764958pt;}
.y3a{bottom:717.211700pt;}
.y24{bottom:717.401780pt;}
.y11{bottom:717.529683pt;}
.y4{bottom:717.592150pt;}
.y39{bottom:738.976425pt;}
.y23{bottom:739.166505pt;}
.y10{bottom:739.294408pt;}
.y3{bottom:739.356875pt;}
.y38{bottom:760.741150pt;}
.y22{bottom:760.931230pt;}
.yf{bottom:761.059133pt;}
.y2{bottom:761.121600pt;}
.y37{bottom:782.505875pt;}
.ye{bottom:782.823858pt;}
.y36{bottom:804.270601pt;}
.yd{bottom:804.588583pt;}
.y35{bottom:826.035326pt;}
.yc{bottom:826.353308pt;}
.y34{bottom:847.800051pt;}
.yb{bottom:848.118033pt;}
.y6{bottom:859.018627pt;}
.y33{bottom:869.564776pt;}
.ya{bottom:869.882758pt;}
.y32{bottom:891.329501pt;}
.y9{bottom:891.647483pt;}
.y8{bottom:913.412208pt;}
.y5{bottom:913.419867pt;}
.y7{bottom:935.176933pt;}
.h6{height:21.349256pt;}
.h7{height:26.353783pt;}
.h2{height:33.122036pt;}
.ha{height:59.687787pt;}
.h5{height:66.163125pt;}
.h3{height:74.524465pt;}
.h4{height:162.578416pt;}
.h9{height:939.965333pt;}
.h8{height:957.333333pt;}
.h1{height:984.000000pt;}
.h0{height:986.457333pt;}
.w2{width:738.545333pt;}
.w0{width:1475.906667pt;}
.w1{width:1476.000000pt;}
.x0{left:0.000000pt;}
.x2{left:26.856133pt;}
.x9{left:77.197867pt;}
.x1{left:197.502800pt;}
.x11{left:243.405067pt;}
.x10{left:274.880603pt;}
.xb{left:296.378933pt;}
.xf{left:311.140933pt;}
.xa{left:417.465467pt;}
.x15{left:495.140533pt;}
.xd{left:539.149067pt;}
.x13{left:608.854533pt;}
.x14{left:700.167515pt;}
.x12{left:737.360000pt;}
.xe{left:771.625600pt;}
.x5{left:777.644800pt;}
.x4{left:834.497949pt;}
.x3{left:1061.929733pt;}
.x8{left:1232.494868pt;}
.xc{left:1286.428514pt;}
.x6{left:1346.214491pt;}
.x7{left:1438.058032pt;}
}
